<template>
  <div class="binding-data">
    <div>
      <input
        type="text"
        class="input-content form-control"
        placeholder="Name"
        v-model="people.name"
      >
      <input
        type="text"
        class="input-content form-control"
        placeholder="Age"
        v-model="people.age"
      >
      <input
        type="text"
        class="input-content form-control"
        placeholder="Email"
        v-model="people.contact.email"
      >

      <div class="binding-data-marks">
        <div class="form-check" v-for="(language, index) in languagesList" :key="index">
          <input
            type="checkbox"
            class="form-check-input"
            :value="language"
            :id="language"
            v-model="people.languages"
          >
          <label class="form-check-label" :for="language">{{ language }}</label>
        </div>
      </div>

      <div class="binding-data-marks">
        <div class="form-check" v-for="(actingTime, index) in actingTimeList" :key="index">
          <input
            type="radio"
            class="form-check-input"
            :value="actingTime"
            :id="index"
            v-model="people.actingTime"
          >
          <label class="form-check-label" :for="index">{{ actingTime }}</label>
        </div>
      </div>
    </div>

    <div class="show-data">
      <pre>{{ people }}</pre>
    </div>
  </div>
</template>

<script>

export default {
  name: 'binding-data-component',

  data() {
    return {
      people: {
        name: null,
        age: null,
        contact: {
          email: null,
        },
        languages: [],
        actingTime: null,
      },

      languagesList: [
        'Javascript',
        'CSS',
        'PHP',
        'Java',
        'Pyton',
      ],
      actingTimeList: [
        'Junior',
        'Pleno',
        'Senior',
      ],
    }
  }
}
</script>

<style scoped>
.binding-data {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem;
}

.input-content {
  margin-bottom: 8px;
}

.binding-data-marks, .show-data {
  border: 1px solid lightgray;
  border-radius: 4px;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 1rem;
}

.show-data {
  margin-top: 0;
  max-width: 35vw;
  width: 35vw;
}
</style>