<template>
  <div class="boxes">
    <div class="box-group">
      <box
        :title="boxes.titleBox01"
        :bg="boxes.bgColorBox01"
      />
      <box
        :title="boxes.titleBox02"
        :bg="boxes.bgColorBox02"
      />
      <box
        :title="boxes.titleBox03"
        :bg="boxes.bgColorBox03"
      />
    </div>

    <div class="inputs-box">
      <input v-model="boxes.bgColorBox01" v-on:blur="changeColor(boxes.bgColorBox01)" type="text" class="input-content form-control" placeholder="Change Color Box 01">
      <input v-model="boxes.bgColorBox02" v-on:blur="changeColor(boxes.bgColorBox02)" type="text" class="input-content form-control" placeholder="Change Color Box 02">
      <input v-model="boxes.bgColorBox03" v-on:blur="changeColor(boxes.bgColorBox03)" type="text" class="input-content form-control" placeholder="Change Color Box 03">
    </div>
  </div>
</template>

<script>
import box from "../components/Box.vue";

export default {
  name: 'boxes-component',
  components: { box },

  data() {
    return {
      boxes: {
        titleBox01: "Box 01",
        bgColorBox01: "Blue",

        titleBox02: "Box 02",
        bgColorBox02: "Red",

        titleBox03: "Box 03",
        bgColorBox03: "Orange",
      }
    }
  },
  created() {
    
  },
  methods: {
    changeColor(color) {
      this.bgColorBox01 = color;
    }
  }
}
</script>

<style scoped>
.boxes {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 1rem;
}

.inputs-box {
  display: flex;
  justify-content: center;
}

.input-content {
  margin: 1rem 8px;
  width: 200px;
}

.box-group {
  display: flex;
  gap: 7rem;
  justify-content: center;
}
</style>