<template>
  <div class="search-card">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Card name"
        aria-label="Card name"
        aria-describedby="basic-addon2"
        @keyup="getDataCard()"
        v-model="cardName"
      >
      <button
        type="button"
        class="btn btn-outline-primary"
        @click="getDataCard()"
      >
        Search card
      </button>
    </div>

    <span v-if="notFound" class="not-found">
      No card matching in <a target="_blank" href="https://ygoprodeck.com/">ygoprodeck</a> database.
    </span>
  </div>

  <div v-if="dataCard.name" class="cards">
    <div class="cards-content">
      <div class="cards-img">
        <img :src="dataCard.image" alt="Card Image">
      </div>

      <div>
        <div class="card-name">{{ dataCard.name }}</div>

        <div class="cards-items">
          <div><span class="cards-type">{{ dataCard.type }}</span></div>

          <div v-if="dataCard.banlistInfoTcg">TCG: <span>{{ dataCard.banlistInfoTcg }}</span></div>
          <div v-if="dataCard.banlistInfoOcg">OCG: <span>{{ dataCard.banlistInfoOcg }}</span></div>

          <div v-if="dataCard.archetype">Archetype: <span>{{ dataCard.archetype }}</span></div>

          <div v-if="dataCard.attribute">Attribute: <span>{{ dataCard.attribute }}</span></div>
          <div v-if="dataCard.level">Level: <span>{{ dataCard.level }}</span></div>
          
          <div v-if="dataCard.scale">Pendulum scale: <span>{{ dataCard.scale }}</span></div>
          
          <div v-if="dataCard.linkval">Link Value: <span>{{ dataCard.linkval }}</span></div>
          <div v-if="dataCard.linkmarkers">Link Markers: <span>{{ dataCard.linkmarkers }}</span></div>

          <div v-if="dataCard.race">Type: <span>{{ dataCard.race }}</span></div>
          <div v-if="dataCard.desc">Desc: <span>{{ dataCard.desc }}</span></div>

          <div v-if="dataCard.atk !== undefined">
            ATK: <span>{{ dataCard.atk }}</span> <span v-if="!dataCard.linkval">/ DEF: <span>{{ dataCard.def }}</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'cards-component',

  data() {
    return {
      dataCard: {
        image: null,
        name: null,
        banlistInfoTcg: null,
        banlistInfoOcg: null,
        archetype: null,
        attribute: null,
        level: null,
        scale: null,
        linkval: null,
        linkmarkers: null,
        race: null,
        type: null,
        desc: null,
        atk: null,
        def: null,
      },

      search: null,
      cardName: null,
      notFound: false,
    }
  },
  methods: {
    getDataCard() {
      if (this.cardName) {
        setTimeout(() => {
          let stringName = this.cardName.replace(' ', '%20');
          let url = `https://db.ygoprodeck.com/api/v7/cardinfo.php?name=${stringName}`;
  
          axios.get(url).then((response) => {
            const card = response.data.data[0];
  
            this.dataCard = {
              image: card.card_images[0].image_url,
              name: card.name,
              banlistInfoTcg: card.banlist_info ? card.banlist_info.ban_tcg : 'Unlimited',
              banlistInfoOcg: card.banlist_info ? card.banlist_info.ban_ocg : 'Unlimited',
              archetype: card.archetype,
              attribute: card.attribute,
              level: card.level,
              scale: card.scale,
              linkval: card.linkval,
              linkmarkers: card.linkmarkers ? card.linkmarkers.join(", ") : null,
              race: card.race,
              type: card.type,
              desc: card.desc,
              atk: card.atk,
              def: card.def,
            };

            this.notFound = false;
          }).catch(() => {
            this.notFound = true;
  
            this.dataCard = {
              image: null,
              name: null,
              banlistInfoTcg: null,
              banlistInfoOcg: null,
              archetype: null,
              attribute: null,
              level: null,
              scale: null,
              linkval: null,
              linkmarkers: null,
              race: null,
              type: null,
              desc: null,
              atk: null,
              def: null,
            };
          });
        }, 300);
      }
    },
  }
}
</script>

<style scoped>
.search-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 1rem 0;
}

.input-group {
  max-width: 500px;
}

.not-found {
  color: red;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 920px;
}

.cards > div {
  border-radius: 4px;
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 2rem 1rem 1rem;
  padding: 1rem;
}

.cards-content {
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.cards-img {
  display: flex;
  justify-content: flex-end;
}

.cards-img > img {
  height: 500px;
}

.cards-items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.cards-items > div {
  font-size: 16px;
  margin-bottom: 1rem;
}

.cards-items > div > span {
  font-weight: 500;
}

.card-name {
  background-color: #707070;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 2rem;
  min-width: 300px;
  padding: 0 0.5rem;
  text-align: center;
}

.cards-type {
  font-size: 24px;
}
</style>