<template>
  <div class="pagina-nao-encontrada">
    <h1>Página não encontrada 🤡</h1>
  </div>
</template>

<script>
export default {
  name: "PaginaNaoEncontrada",
  components: {},
  data() {
    return {};
  },
};
</script>

<style scoped>
.pagina-nao-encontrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a4a4a;
  margin: 8rem auto;
  max-width: var(--max-width);
}
</style>
