<template>
  <div class="box" :style="{ backgroundColor: bg }">
    {{ title }}
  </div>
</template>

<script>
export default {
  name: 'box-component',
  props: [
    "title",
    "bg",
    "color"
  ]
}
</script>

<style scoped>
.box {
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 3px 6px #00000029;
  color: #ffffff;
  display: flex;
  height: 100px;
  justify-content: center;
  transition: all 0.1s;
  width: 100px;
}

.box:hover {
  border-radius: 50%;
  transition: all 0.1s;
}
</style>
