<template>
  <div class="header">
    <h1>Sample <a :href="link">Vue.js</a> - Front UP</h1>
  </div>

  <div class="paginator">
    <RouterLink class="button btn btn-outline-primary" to="/">Boxes</RouterLink>
    <RouterLink class="button btn btn-outline-primary" to="/binding-data">Binding data</RouterLink>
    <RouterLink class="button btn btn-outline-primary" to="/data-card">Cards</RouterLink>
  </div>
</template>

<script>
export default {
  name: 'header-component',

  data() {
    return {
      link: "https://vuejs.org/",
    }
  }
}
</script>

<style scoped>
.header {
  align-items: center;
  background-color: #707070;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 0 auto;
}

h1 > a {
  color: #ffffff;
}

h1 > a:hover {
  color: #ffffff;
}

.paginator {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 1rem;
}

.button {
  width: 10rem;
}
</style>
